@font-face {
  font-family: "Robotoregular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotomedium";
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Robotlight";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
