@import "./fonts/roboto";
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "QuickSand";
  src: url("../assets/fonts/Quicksand/Quicksand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "QuickSandBold";
  src: url("../assets/fonts/Quicksand/Quicksand-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
